body {
	margin: 0;
}

video {
	position: absolute;
    top: 51px;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.hide {
	display: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-header {
    float: left;
}
.navbar-header .navbar-brand {
    padding: 0;
}
.navbar-header .navbar-brand > img {
    margin-top: 6px;
    margin-left: 20px;
    height: 40px;
}

.navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.container-fluid > .navbar-header {
    margin-right: 0px;
}

#myCanvas {
    position: absolute;
    z-index: 20;
    background-color: transparent;
    position: relative;
}

.circle, .circlenoedit {
    border-radius: 50%/50%;
    width: 6px;
    height: 6px;
    border: 1px solid black;
    background: white;
    position: absolute;
    z-index: 5;
}

.circle:hover{
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin-left: -2px;
    margin-top: -2px;
}

.connector-out{
    z-index: -1;
}
