<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="crowddetector" version="0.2.2">
  <details>
    <title>Kurento Crowd Detector</title>
    <email>bgrana@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>A widget for selecting areas in a video tag</description>
    <authors>bgrana</authors>
  </details>
  <wiring>
    <inputendpoint name="activate_detection" type="text" label="Activates crowd detection" description="Start crowd detection" friendcode="poi"/>
  </wiring>
  <contents src="index.html"/>
  <rendering height="8" width="30"/>
</widget>
