<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="crowddetector" version="0.3.101">
  <details>
    <title>Kurento Crowd Detector</title>
    <email>mgarcia@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>A widget for selecting areas in a video tag</description>
    <authors>mgarcia</authors>
    <changelog>doc/changelog.md</changelog>
    <doc>doc/index.md</doc>
  </details>
  <preferences>
    <preference name="server-url" label="Server URL" description="URL of crowd detector service" type="text" default="ws://130.206.81.33:8082/crowddetector"/>
    <preference name="use-camera" label="Use Webcam or Video" description="Set if use webcam or remote video" type="boolean" default="true"/>
    <preference name="file-path" label="Video path" description="File to load if video selected" type="text" default="videos/6.mp4"/>
  </preferences>
  <wiring>
    <!-- <inputendpoint name="activate_detection" type="text" label="Activates crowd detection" description="Start crowd detection" friendcode="poi"/> -->
    <!-- <outputendpoint name="crowd_direction" type="text" label="CrowdDetector Direction Output" description="Data for Google Chart of Direction" friendcode="cdo"/> -->
    <outputendpoint name="crowd_fluidity" type="text" label="CrowdDetector Fluidity Output" description="Data for Google Chart of Fluidity" friendcode="googlecharts-graph-data"/>
    <outputendpoint name="crowd_occupancy" type="text" label="CrowdDetector Occupancy Output" description="Data for Google Chart of Occupancy" friendcode="googlecharts-graph-data"/>
  </wiring>
  <contents src="index.html"/>
  <rendering height="47" width="10"/>
</widget>
